.comment-add-modal {
  display: none;
}

.comment-add-modal--on {
  display: block;
}

.comment-add-modal__form {
  position: absolute;
  top: 10%;
  left: calc(50vw - 320px);
  z-index: 20;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 640px;
  padding: 20px 90px;

  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 50%/100%;
}

.comment-add-modal__heading {
  margin: 0;
  width: 100%;
  margin-bottom: 10px;

  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.comment-add-modal__field {
  width: 100%;
  margin-bottom: 20px;
}

.comment-add-modal__buttons-wraper {
  width: 50%;
  margin: 0 auto;
}

.comment-add-modal__button {
  width: 100%;
  margin-bottom: 20px;

  color: var(--main-color);

  border-color: var(--main-color);
}

.comment-add-modal__button:hover,
.comment-add-modal__button:focus {
  color: #fff;

  background-color: var(--minor-color);
}

@media (max-width: 680px) {
  .comment-add-modal__form {
    left: calc(50vw - 165px);

    width: 330px;
    padding: 20px;

    border-radius: 20px;
  }

  .comment-add-modal__buttons-wraper {
    width: 100%;
    margin: 0;
  }
}
