.label {
  display: inline-block;
  width: 50%;
  padding-left: 23px;
  padding-bottom: 8px;

  font-size: 18px;
  color: var(--main-color);
}

.label--centered {
  width: 100%;
  padding-left: 0;

  text-align: center;
}

@media (max-width: 900px) {
  .label {
    padding-bottom: 0;
    width: 100%;
  }
}
