.label {
  display: block;
  width: 100%;
  padding-left: 23px;
  padding-bottom: 8px;

  font-size: 18px;
  color: var(--main-color);
}

.label--centered {
  width: 100%;
  padding-left: 0;

  text-align: center;
}
