.modal {
  --bg-color: rgba(40, 54, 69, 0.7);

  position: absolute;
  top: -95px;
  bottom: -110px;
  left: 0;
  z-index: 100;

  width: 100%;
  overflow: auto;

  background-color: var(--bg-color);
}

@media (max-width: 600px) {
  .modal {
    top: -105px;
  }
}
