.sing-in-modal {
  display: none;
}

.sing-in-modal--on {
  display: block;
}

.sing-in-modal__form {
  position: absolute;
  top: 10%;
  left: calc(50vw - 270px);
  z-index: 20;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 540px;
  padding: 60px 90px;

  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 50%/50%;
}

.sing-in-modal__heading {
  margin: 0;
  width: 100%;
  margin-bottom: 10px;

  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.sing-in-modal__field {
  width: 100%;
  margin-bottom: 10px;
}

.sing-in-modal__buttons-wraper {
  width: 100%;
  margin-top: 30px;
}

.sing-in-modal__button {
  width: 100%;
  margin-bottom: 10px;

  color: var(--main-color);

  border-color: var(--main-color);
}

.sing-in-modal__button:hover,
.sing-in-modal__button:focus {
  color: #fff;

  background-color: var(--minor-color);
}

@media (max-width: 600px) {
  .sing-in-modal__form {
    left: calc(50vw - 165px);

    width: 330px;
    padding: 20px;

    border-radius: 20px;
  }
}
